<div ng-controller="aboutController" class="container-fluid " >

<div class="row screen-div about">
  <div class="title mypic ">
      <h1 class="textwithshadow"> Hi, I am Neha! </h1>
      <nav id="more-links">
			<ul class="text-center">
			  
			 <li id="about-me"><div class="circle aboutmecircle">
       <a href="" class="" ng-click="gotoAbout()"><p> About Me</p> </a>
        
      </div></li>
      
				<li id="more-timeline"><div class="circle skillcircle">
       <a href="" ng-click="gotoMytimeline()" class=""><p> my timeline</p> </a>
        
      </div></li>
	      <li id="more-skills"><div class="circle aboutmecircle">
       <a href="" class="" ng-click="gotoMyskills()"><p> my skills</p> </a>
        
      </div></li>
      
      
			</ul>
			</nav>
  </div>
</div><br>

<section class="aboutme row">
<div class="title">
  <a name="aboutme"></a>
 <div class="desc text-center">
      <h1 style="font-size:50px"> < about me > </h1> 
      <p class="mytext" data-ng-repeat="abtdata in aboutcontent">{{abtdata.Intro}}<br><br>{{abtdata.Tech}}<br><br>{{abtdata.Passtime}}</p>
      
</div>
</div>
</section>

<section class="row mytimeline">
<div id="mytimeline">
    <div class="col-xs-6">
      <h2>My journey so far..</h2>
      <ul class="timeline" data-ng-repeat="mydata in timelineEvents">
      <li ng-if="$even">
          <div class="timeline-badge">
            <a><i class="fa fa-circle" id=""></i></a>
          </div>
          <div class="timeline-panel" ng-mouseover="showPopover(mydata.Desc)" ng-mouseleave="hidePopover()">
              <div class="timeline-heading">
                <h5 ><img class="timeline-image" ng-src="{{mydata.Pic}}"/> {{mydata.Event}}</h5> 
                
                </div>
              <div class="timeline-footer">
                  <p class="text-right">{{mydata.On}}</p>
              </div>
          </div>
          
      </li>
      
      <li ng-if="$odd" class="timeline-inverted">
          <div class="timeline-badge">
              <a><i class="fa fa-circle" id=""></i></a>
          </div>
          <div class="timeline-panel" ng-mouseover="showPopover(mydata.Desc)" ng-mouseleave="hidePopover()">
              <div class="timeline-heading">
                  <h5><img class="timeline-image" ng-src="{{mydata.Pic}}"/> {{mydata.Event}}</h5>
                </div>
              <div class="timeline-footer">
                  <p class="text-right">{{mydata.On}}</p>
              </div>
          </div>
          
      </li>
      
      <li class="clearfix no-float"></li>
  </ul>
    </div>
    
    <div class="col-xs-6">
      
    <div class="box panel panel-info text-center" ng-show="popoverIsVisible">
      <div class="box-text text-center" ng-bind="description">
        
      </div>    
    </div>   
        
    </div>
   
  </div>
</section>

<section class="row myskills">
<div>
  <a name="myskills"></a>

<div class="title">
<hc-chart options="chartOptions"></hc-chart>
</div>
</div>
</section>

<div class="bounce">
<a href="#"> <img style="width:50px" ng-src="https://cdn3.iconfinder.com/data/icons/faticons/32/arrow-up-01-128.png"/></a>
</div>  
  

</div>
