<div ng-controller="contactController" class="container ">

<div class="row contact col-xs-12 title">
 <h1>Contact Me?</h1>
 <p class="desc"> Send me an email</p>  
 
 <div class="">
 <form ng-submit="send()">
 <div class="col-sm-6">
   <label>Your Name:</label>
   <input type="text" ng-model="user.name" class="form-control" placeholder="Iron Man">
   <span class="help-block"></span>
   
   <label>Your email:</label>
   <input type="email" ng-model="user.email"  class="form-control" placeholder="jarvis@stark.com">
   <span class="help-block"></span>
   
 </div>
 
 <div class="col-sm-6">
   <label>Your message:</label>
   <textarea ng-model="user.message" class="form-control" placeholder="Hi.." style="height:100px"></textarea>
   <span class="help-block"></span>
   
     <button type="submit" value="Send" class="btn btn-success" style="float:right">
      <span class="glyphicon glyphicon-envelope"></span> Send
    </button>
 </div>
 </form>
 </div>
 
 </div>
 
</div>